caption {
    padding: 10px;
    font-weight: bolder;
    font-size: 2em;
}    
    body {
    font-family: Arial;
}

table {
    width: 600px;
    border-collapse: collapse;
    margin: auto;
}

td, th {
    padding: 10px;
    border: 1px solid black;
}

